Trabajo Practico/Fuentes de Datos TP Final/Area Comercializacion/Customer_R_corregido.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="clientesMinoristas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="cliente">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="CUSTOMER_ID" type="xs:unsignedShort" />
              <xs:element minOccurs="0" name="FULL_NAME" type="xs:string" />
              <xs:element minOccurs="0" name="BIRTH_DATE" type="xs:string" />
              <xs:element minOccurs="0" name="CITY" type="xs:string" />
              <xs:element minOccurs="0" name="STATE" type="xs:string" />
              <xs:element minOccurs="0" name="ZIPCODE" type="xs:unsignedInt" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>